<div class="animated fadeIn">
    <form class="form-horizontal" #addForm="ngForm" (ngSubmit)="addForm.valid && saveAndNext()">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-border">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5>Add New</h5>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-sm btn-primary float-right" (click)="back()">
                                    <i class="fa fa-chevron-left"></i> Back
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Model No <span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <ng-select2 width="100%" name="model_no" id="model_no" [data]="listModelNo"
                                            [value]="model.model_no" required (valueChanged)="changeModel($event)">
                                        </ng-select2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Model Name <span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <input type="text" name="modelName" class="form-control" [(ngModel)]="modelName"
                                            disabled required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Component Name <span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <input type="text" name="component_name" class="form-control"
                                            [mask]="'^[A-Z|a-z ]+$'" [(ngModel)]="model.component_name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Material Type <span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <ng-select2 width="100%" name="material_type" id="material_type"
                                            [data]="listMaterialType" [value]="model.material_type_id" required
                                            (valueChanged)="changeMaterialType($event)">
                                        </ng-select2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Chemical - Ink <span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <input type="text" name="chemical_ink" class="form-control"
                                            [mask]="'^[A-Z|a-z ]+$'" [(ngModel)]="model.chemical_ink" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Material Description <span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <input type="text" name="material_description" class="form-control"
                                            [(ngModel)]="model.material_description" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Dev. Season <span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <input type="text" name="dev_season" class="form-control input-upper"
                                            [maxLength]='4' [(ngModel)]="model.dev_season" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Prod. Season <span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <input type="text" name="production_season" class="form-control input-upper"
                                            [maxLength]='4' [(ngModel)]="model.production_season" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Pad Shape <span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <ng-select2 width="100%" name="pad_shape_id" id="pad_shape_id"
                                            [data]="listPadShape" [value]="model.pad_shape_id" required
                                            (valueChanged)="changePadShape($event)">
                                        </ng-select2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label"># of Pad Hits <span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <input type="number" name="number_of_pad_hits" class="form-control"
                                            [(ngModel)]="model.number_of_pad_hits" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Machine Vendor <span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <ng-select2 width="100%" name="machine_vendor_id" id="machine_vendor_id"
                                            [data]="listMachineVendor" [value]="model.machine_vendor_id" required
                                            (valueChanged)="changeMachineVendor($event)">
                                        </ng-select2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="article_no_is_general">Article No <span
                                            class="red_star">
                                            *</span></label>
                                    <div class="col-md-6 col-lg-6" style="margin-top: 15px;">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="article_no_is_general"
                                                id="article_no_is_general" class="custom-control-input"
                                                (change)="changeArticleRemark()"
                                                [(ngModel)]="model.article_no_is_general">
                                            <label class="custom-control-label"
                                                for="article_no_is_general">General</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Machine Model<span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <input type="text" name="machine_model" class="form-control"
                                            [(ngModel)]="model.machine_model" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label mt-2">Rotary Table Used<span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <select name="rotary_table_used" id="rotary_table_used"
                                            class="form-control mt-2" [(ngModel)]="model.is_rotary_table_used" required>
                                            <option [ngValue]="true">Yes</option>
                                            <option [ngValue]="false">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label"></label>
                                    <div class="col-md-6 col-lg-6">
                                        <textarea name="article_no_remarks" id="article_no_remarks"
                                            [disabled]='model.article_no_is_general' class="form-control"
                                            [(ngModel)]="model.article_no_remarks"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Chemical - Hardener <span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <input type="text" name="chemical_hardener" class="form-control"
                                            [(ngModel)]="model.chemical_hardener" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label mt-2">Chemical - Additive <span
                                            class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <input type="text" name="chemical_additive" class="form-control mt-2"
                                            [(ngModel)]="model.chemical_additive" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Component Photo
                                        <br><strong>(jpg,jpeg,png&lt;5MB)</strong></label>
                                    <div class="col-md-6 col-lg-6">
                                        <media-upload class="media" #mediaUploadImage [acceptKey]="'image'"
                                            [url]="model.component_photo_url_file == null? noImage : model.component_photo_url_file"
                                            [isImageOrVideo]="true"></media-upload>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Chemical - Primer <span class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <input type="text" name="chemical_primer" class="form-control"
                                            [(ngModel)]="model.chemical_primer" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label mt-2">Chemical - Others <span
                                            class="red_star">
                                            *</span></label>
                                    <div class="col-md-6">
                                        <input type="text" name="chemical_others" class="form-control mt-2"
                                            [(ngModel)]="model.chemical_others" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="operation_video">Operation Video
                                        <br><strong>(mp4&lt;20MB)</strong></label>
                                    <div class="col-md-6 col-lg-6">
                                        <media-upload class="media" #mediaUploadVideo [acceptKey]="'video'"
                                            [url]="model.component_photo_url_file == null? noImage: model.component_photo_url_file"
                                            [isImageOrVideo]="false"></media-upload>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-sm btn-success mr-1" [disabled]="!addForm.valid"
                            (click)="save()">
                            <i class="fa fa-check"></i> Save
                        </button>
                        <button type="submit" class="btn btn-sm btn-primary mr-1" [disabled]="!addForm.valid">
                            <i class="fa fa-check"></i> Save & Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>