input[type="file"] {
  width: 350px;
}

.custom-file-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-group {
  margin-right: 0;
  margin-bottom: 0;
  align-items: center;
}

.form-group.hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.table thead th {
  vertical-align: middle;
}

th {
  color: #fff;
  text-align: center;
  padding: 8px !important;
}

td {
  vertical-align: middle;
  text-align: center;
  padding: 0.5rem;
}
.ip {
  padding-right: 0;
}

table tbody tr td .img {
  width: 100px;
  height: 80px;
  object-fit: cover;
}

.audit-pass {
  color: #00b050;
  font-weight: 700;
  text-transform: uppercase;
}

.audit-fail {
  color: #fc5252;
  font-weight: 700;
  text-transform: uppercase;
}

.opacity0 {
  opacity: 0;
}

.opacity1 {
  opacity: 1;
}
