<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-border">
        <form class="card-header" #searchForm="ngForm" autocomplete="off">
          <div class="row">
            <div class="col-md-2">
              <label class="badge badge-warning">Pilot Line </label><span class="red_star"> *</span>
              <ng-select2 width="100%" [data]="dataListLineNo" [(ngModel)]="searchBLCriticalParam.lineNo" name="lineno"
                placeholder="Select Line..." id="lineNo" (valueChanged)="changeLinelNo($event)">
              </ng-select2>
            </div>
            <div class="col-md-2">
              <label class="badge badge-warning">Line Type </label><span class="red_star"> *</span>
              <ng-select2 [disabled]="flag" width="100%" [data]="datalistLineType"
                placeholder="Select Line Type..." [(ngModel)]="searchBLCriticalParam.lineType" name="linetype"
                id="linetype" (ngModelChange)="changeLineType($event)">
              </ng-select2>
            </div>
            <div class="col-md-2 ">
              <label class="badge badge-warning">Model</label>
              <input type="text" id="modelno" name="modelno" class="form-control input-upper"
                [(ngModel)]="searchBLCriticalParam.modelNo" placeholder="Model..." />
            </div>
            <div class="col-md-2 ip">
              <label class="badge badge-warning">Stage</label>
              <ng-select2 width="100%" [(ngModel)]="searchBLCriticalParam.stage" [data]="dataListStage" name="stage"
                placeholder="Select Stage..." id="stage">
              </ng-select2>
            </div>
            <div class="col-md-2">
              <label class="badge badge-warning">Language</label>
              <select [(ngModel)]="changeLang" name="lang" class="form-control" value="1" id="active"
                style="width: 100%;">
                <option value="1">Local</option>
                <option value="2">English</option>
                <option value="3">Chinese</option>
              </select>
            </div>
            <div class="col-md-2">
              <label class="badge badge-warning"></label>
              <br>
              <button type="button" class="btn btn-secondary mr-1 mt-1" (click)="search(0)">
                <i class="fa fa-search"></i> Query
              </button>
              <button type="button" class="btn btn-danger mr-1 mt-1" (click)="clear()">
                <i class="fa fa-ban"></i> Clear
              </button>
            </div>
          </div>
        </form>
        <div class="card-body">
          <div class="form-group row g-2" style="margin-right: 0;">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary mr-1" [disabled]="flagAdd" (click)="addNew()"
                style="color:white;">
                <i class="fa fa-plus" aria-hidden="true"></i> Add New
              </button>
            </div>

          </div>
          <div class="table-responsive">
            <table class="table  table-bordered text-center " style="vertical-align: middle">
              <thead>
                <tr>
                  <th scope="col" style="width: 105px;"></th>
                  <th scope="col">Pilot Line</th>
                  <th scope="col">Line Type</th>
                  <th scope="col">Model No</th>
                  <th scope="col">Stage</th>
                  <th scope="col">Operation</th>
                  <!-- <th scope="col">Update By</th>
                    <th scope="col">Update Time</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of criticalProcessData">
                  <td>
                    <button type="button" class="btn btn-primary btn-sm mr-2" (click)="changePageUpdate(item)">
                      <i class="fa fa-edit fa-lg"></i>
                    </button>
                  </td>
                  <td>{{item.line_name}}</td>
                  <td>{{item.line_type_name}}</td>
                  <td>{{item.model_no}}</td>
                  <td>{{item.stage_name}}</td>
                  <td *ngIf="changeLang == '2'">{{item.operation_name_en}}</td>
                  <td *ngIf="changeLang == '1'">{{item.operation_name_local}}</td>
                  <td *ngIf="changeLang == '3'">{{item.operation_name_zh}}</td>
                  <!-- <td>{{item.update_by}}</td>
                    <td>{{item.update_time | date: 'yyyy/MM/dd HH:mm:ss'}}</td> -->
                </tr>
                <tr *ngIf="criticalProcessData.length  === 0">
                  <td colspan="100%" class="table-warning text-center font-weight-bold"> {{message.NO_DATA}} </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex">
            <pagination *ngIf="pagination.totalPage >1" [boundaryLinks]="true" [totalItems]="pagination.totalCount"
              [(ngModel)]="pagination.currentPage" [itemsPerPage]="pagination.pageSize"
              (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
              lastText="&raquo;" [maxSize]="5">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>