<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Add new</strong>
          <button type="button" class="btn btn-primary float-right btn-sm"
            (click)="back()">
            <i class="fa fa-chevron-left"></i>
            Back
          </button>
        </div>

        <form class="form-horizontal" autocomplete="off" #form="ngForm">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-2 col-form-label">
                <span class="float-sm-left">Pilot Line
                  <font color="red">*</font>
                </span>
              </label>
              <div class="col-md-2">
                <ng-select2 id="line_id" name="line_id" [data]="lineNoList"
                  width="100%" (valueChanged)="getAllLineTypeOfAdd($event)"
                  width="100%" [(ngModel)]="param.line_id" required>
                </ng-select2>
              </div>
              <label class="offset-md-2 col-md-2 col-form-label">
                <span class="float-sm-left">Line Type
                  <font color="red">*</font>
                </span>
              </label>
              <div class="col-md-2">
                <ng-select2 id="line_type_id" name="line_type_id"
                  (valueChanged)="getAllModelNoOfAdd($event)"
                  [data]="lineTypeList" width="100%"
                  [(ngModel)]="param.line_type_id" required>
                </ng-select2>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">
                <span class="float-sm-left">Model No
                  <font color="red">*</font>
                </span>
              </label>
              <div class="col-md-2">
                <ng-select2 id="model_no" name="model_no" [data]="modelNoList"
                  width="100%" (valueChanged)="changeModelName($event)"
                  width="100%" (valueChanged)="getAllProdSeasonOfAdd($event)"
                  [(ngModel)]="param.model_no" required>
                </ng-select2>
              </div>
              <label class="offset-md-2 col-md-2 col-form-label">
                <span class="float-sm-left">Model Name
                  <font color="red">*</font>
                </span>
              </label>
              <div class="col-md-2">
                <input type="text" name="model_name" class="form-control"
                  [(ngModel)]="param.model_name" disabled="true" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">
                <span class="float-sm-left">Prod. Season
                  <font color="red">*</font>
                </span>
              </label>
              <div class="col-md-2">
                <ng-select2 id="prod_season" name="prod_season"
                  [data]="prodSeasonList" width="100%"
                  [(ngModel)]="param.prod_season" required>
                </ng-select2>
              </div>
              <label class="offset-md-2 col-md-2 col-form-label">
                <span class="float-sm-left">Attachment Type
                  <font color="red">*</font>
                </span>
              </label>
              <div class="col-md-2">
                <ng-select2 id="attachment_type" name="attachment_type"
                  [data]="attachmentTypeList" width="100%"
                  [(ngModel)]="param.attachment_type_id" required>
                </ng-select2>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-2 col-form-label">
                <span class="float-sm-left">Upload file <font color="red">*
                  </font>
                  <p> <strong>(pdf,excel < 20MB)</strong>
                  </p>
                </span>
              </label>
              <div class="col-md-3">
                <div class="b-form-file">
                  <label data-browse="Select">
                    <!-- <p *ngIf="file === null">Choose a file...</p> -->
                    <input id="input_uploadFile" name="file"
                      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,application/pdf"
                      type="file" (change)="onSelectFile($event)"
                      class="form-control" />
                  </label>
                </div>
              </div>
            </div>

          </div>
          <div class="card-footer">
            <div class="form-group row">
              <div class="col">
                <button type="button" class="btn btn-sm btn-success mr-1"
                  (click)="save()" [disabled]="!form.valid || file===null">
                  <i class="fa fa-check"></i>
                  Save
                </button>
                <button type="button" class="btn btn-sm btn-primary"
                  (click)="save('next')"
                  [disabled]="!form.valid || file===null">
                  <i class="fa fa-check"></i> Save & Next
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>