.color-blue {
    background-color: #20a8d8;
    color: #fff;
    font-size: small;
    font-weight: bold;
}
img {
    width: 100%;
    height: 615px;
    object-fit: fill;
}

#table1 tr {
    height: 56px;
}
.button-block {
    margin-top: 30px;
}
