.table thead th {
  vertical-align: middle;
}

td {
  vertical-align: middle;
  text-align: center;
  padding: 0.5rem;
}
table tbody tr td .img {
  width: 100px;
  height: 100px;
  object-fit: fill;
  margin: 10px;
}
table tbody tr td .video {
  width: 250px;
}