<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <h4 class="d-inline">Edit</h4>
      <button type="button" (click)="back()" class="btn btn-sm btn-primary float-right">
        <i class="fa fa-chevron-left"></i> Back
      </button>
    </div>
    <div class="card-body">
      <form class="form-horizontal" #addComputerForm="ngForm">
        <div class="form-group row">
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Model No <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <input type="text" name="modelNo" class="form-control" [(ngModel)]="itemEdit.model_no" disabled
                  required>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Model Name <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <input type="text" name="modelName" class="form-control" [(ngModel)]="itemEdit.model_name" disabled
                  required>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Stage <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <input type="text" name="stage" class="form-control" [(ngModel)]="itemEdit.stage_id" disabled required>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">CS Operation <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <input type="text" name="csOperation" class="form-control"
                  [(ngModel)]="lang == 'en' ? itemEdit.operation_name_en : lang == 'vi' ? itemEdit.operation_name_local : itemEdit.operation_name_zh"
                  disabled required>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">CS Type <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <input type="text" name="csType" class="form-control" [(ngModel)]="itemEdit.cs_type_id" disabled
                  required>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">CS Machine Type <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <input type="text" name="csMachineType" class="form-control" [(ngModel)]="itemEdit.cs_machine_type_id"
                  disabled required>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Dev. Season <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <input type="text" name="devSeason" class="form-control text-uppercase"
                  [(ngModel)]="itemEdit.dev_season" maxlength="4" disabled>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Prod. Season <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <input type="text" name="productionSeason" class="form-control text-uppercase"
                  [(ngModel)]="itemEdit.production_season" maxlength="4" disabled>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">SOP Setup <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <ng-select2 width="100%" name="sopSetup" [data]="yesNo" [(ngModel)]="itemEdit.sop_setup" required>
                </ng-select2>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Production Adoption <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <ng-select2 width="100%" name="productionAdoption" [data]="yesNo"
                  [(ngModel)]="itemEdit.production_adoption" required>
                </ng-select2>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Critical Process <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <ng-select2 width="100%" name="criticalProcess" [data]="yesNo"
                  [(ngModel)]="itemEdit.is_critical_process" required>
                </ng-select2>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Article No <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <div class="custom-control custom-checkbox mt-2">
                  <input type="checkbox" class="custom-control-input" id="article_no_is_general"
                    name="article_no_is_general" [(ngModel)]="itemEdit.article_no_is_general"
                    (ngModelChange)="changeArticleNo()" [required]="itemEdit.article_no_is_general">
                  <label class="custom-control-label" for="article_no_is_general">General</label>
                </div>
                <!-- <textarea [(ngModel)]="itemEdit.article_no_remarks" [disabled]="itemEdit.article_no_is_general" name="article_no_remarks" class="form-control mt-2" rows="3" placeholder="Article No Remarks.."></textarea> -->
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Main Upper Material Type <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <ng-select2 width="100%" name="mainUpperMaterialType" [data]="mainUpperMaterialTypes"
                  [(ngModel)]="itemEdit.main_upper_material_type_id" required>
                </ng-select2>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label"></label>
              <div class="col-md-6">
                <textarea [(ngModel)]="itemEdit.article_no_remarks" [required]="!itemEdit.article_no_is_general"
                  [disabled]="itemEdit.article_no_is_general" name="article_no_remarks" class="form-control" rows="3"
                  placeholder="Article No Remarks.."></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">CS Machine Model <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <input type="text" name="csMachineModel" class="form-control text-uppercase"
                  [(ngModel)]="itemEdit.cs_machine_model" required>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">
                Jig Photo <br><strong>(jpg, jpeg, png < 5MB)</strong>
              </label>
              <div class="col-md-6">
                <div class="ml-3">
                  <media-upload #mediaUploadImage [acceptKey]="'image'"
                    [url]="itemEdit.jig_photo_url == null ? noImage : imageUrl + itemEdit.jig_photo_url + '?v=' + random"
                    [isImageOrVideo]="true"></media-upload>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">CS Speed Setting (rpm) <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <input type="number" name="csSpeedSetting" class="form-control"
                  [(ngModel)]="itemEdit.cs_speed_setting_rpm" required>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">
                CS Video <br><strong>(mp4 < 20MB)</strong>
              </label>
              <div class="col-md-6">
                <div class="ml-3">
                  <media-upload #mediaUploadVideo [acceptKey]="'video'" [url]="imageUrl + itemEdit.cs_video_url + '?v=' + random"
                    [isImageOrVideo]="false"></media-upload>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label"># of Size Group <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <input type="number" name="ofSizeGroup" class="form-control" [(ngModel)]="itemEdit.number_of_size_group"
                  required>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Jig Desig <span class="red_star"> *</span></label>
              <div class="col-md-6">
                <ng-select2 width="100%" name="jigDesign" [data]="jigDesigns" [(ngModel)]="itemEdit.jig_design_id"
                  required>
                </ng-select2>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-sm btn-success mr-1" [disabled]="!addComputerForm.valid" (click)="btnSave()">
        <i class="fa fa-check"></i> Save
      </button>
    </div>
  </div>
</div>
